@tailwind base;
@tailwind components;
@tailwind utilities;



html{
    color-scheme: black;
}

body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    perspective: 900px;
}

img{
    max-width: 100%;
}

.rider{
    width: 200px;
    /* outline: 3px solid darkred; */
    /* transform-style: preserve-3d; */
    aspect-ratio: 10/15;
    position: relative;
    background-size: cover;
    transition: rotate 500ms ease;
}

.rider:hover{
    rotate: x 20deg;
}

.rider::before{
    content: "";
    position: absolute;
    inset: 0;
    /* background: darkred; */
    z-index: 100;
    background-image: radial-gradient(circle 200px, transparent 100px, darkred);
    opacity: 0;
    transition:  1000ms;
}

.rider:hover::before{
    opacity: 1;
}

.rider::after{
    content: "";
    position: absolute;
    inset:20px;
    translate: 0;
    background: darkred;
    filter: blur(1rem);
    transition: 900ms;
}

.rider:hover::after{
    translate: 0px 35px;
    transition: 500ms;
}


.logo{
    width: 250px;
    z-index: 1000;
    position:absolute;
    filter: drop-shadow(5px 5px 3px darkred);
    width: 65%;
    inset: auto 2.1rem 0rem;
    transition: 400ms;
}

.rider:hover .logo{
    transform: translatey(-1rem) translatez(10px);
    /* rotate: x -300deg; */
}

.back{
    /* object-fit: cover; */
    position: absolute;
    z-index: 10;
}

.front{
    position:absolute;
    scale: 1.35;
    inset: auto 0rem 3rem;
    /* transform-origin: bottom; */
    z-index: 100;
    opacity: 0;
    transition: 400ms;
}

.rider:hover .front{
    opacity: 1;
    transform: translatey(-2rem) translatez(90px);
    rotate: x 10deg;
    inset: auto -2rem -0.8rem;
}